 main {
     background: #fff;
     padding: 30px;
     border-radius: 16px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
     max-width: 420px;
     width: 100%;
     margin: 100px auto 0 auto;
 }

 h1 {
     text-align: center;
     color: #2e7d32;
     font-family: "Arial Black", Gadget, sans-serif;
     margin-bottom: 20px;
 }

 form {
     display: flex;
     flex-direction: column;
     gap: 18px;
 }

 label {
     font-weight: bold;
     color: #333;
     margin-bottom: 5px;
     display: block;
     font-family: Arial, Helvetica, sans-serif;
 }

 input,
 textarea {
     padding: 10px;
     font-size: 15px;
     border: 1px solid #ccc;
     border-radius: 10px;
     transition: border-color 0.3s, box-shadow 0.3s;
     width: 100%;
 }

 input:focus,
 textarea:focus {
     border-color: #2e7d32;
     box-shadow: 0 0 6px rgba(46, 125, 50, 0.4);
     outline: none;
 }

 .btn {
     background: #2e7d32;
     color: #fff;
     padding: 12px;
        font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     transition: background 0.3s, transform 0.2s;
 }

 .btn:hover {
     background: #1b5e20;
     transform: scale(1.03);
 }